.searchLanding{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.tarjeta{
    background-color: rgb(249, 163, 83);
    border: 2px solid black;
    font-size: 20px;
}

.formandlist{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.alllist{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}